html,
body,
header,
#intro {
    height: 100%;
}
body{
    min-height: 400px;
}

@media (max-width: 576px){
    h2{
        font-size: 50px !important;
        padding-top: 60px !important;
        line-height: 65px !important;
      }

    #ProfileColor{
        border-top-right-radius: 10px !important;
      }

    #hideOnXS {
        display: none;
    }
  } 

/* Small Screen Size */
@media (max-width: 768px){
    h2{
      font-size: 50px !important;
      padding-top: 60px !important;
      line-height: 50px !important;
    }

    #ProfileColor{
        border-top-right-radius: 0px ;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
      }
  } 

#ProfileColor{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

html {
    scroll-behavior: smooth;
}

#intro {
    background: url("img/back.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#Experiences {
    background-color: #F3EFE0;
}

#Contact {
    background-color: #434242;
}

#hov {
    opacity: 0.85;
}

#hov:hover {
    opacity: 1;
}

#hovWhite{
    opacity: 0.6;
}

#hovWhite:hover {
    opacity: 1;
}

@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Bold.ttf);
}

@font-face {
    font-family: AvenirNext;
    src: url(AvenirNextLTPro-Regular.otf);
}

#opensans {
    font-family: OpenSans;
}