html,
body,
header,
#intro {
    height: 100%;
}
html {
    scroll-behavior: smooth;
}

#intro {
    background: url("img/back.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#Experiences {
    background-color: #F3EFE0;
}

<<<<<<< HEAD
#Contact {
    background-color: #443938;
}

=======
>>>>>>> 2100bb33ae591c7eb7f35cdfd3f31c98aff440d5
@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Bold.ttf);
}

@font-face {
    font-family: AvenirNext;
    src: url(AvenirNextLTPro-Regular.otf);
}

#opensans {
    font-family: OpenSans;
}